*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
}
.greenbinpage{
    margin-top: 20px;
    margin-left:50px;
}
.currentpage{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-decoration: none;
color:  #333333;
}
h1{
    margin-left: 300px;
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 67px;
color:  #1F313D;
}

h3{
    margin-left: 300px;
    font-family: Inter;
font-style: italic;
font-weight: bold;
font-size: 26px;
line-height: 31px;
color:#1F313D;
}
p{
    width:618px;
    margin-left: 300px;
    margin-right: 200px;
    color:#1F313D;
    font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align:justify;
}
.pic2{
    margin-left:300px;
    margin-top: 20px;
}
.subimg{
    margin-left:300px;
    margin-top: 20px;
}
.bttn{
    margin-left:700px;
}
.bttn .butn1{
    display: block;
    margin-top:10px;
    width:220px;
    height:39px;
    border-radius:5px;
    background-color: #525252;
    color:#FFFFFF;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
align-items: center;
text-align: center;
}
.bttn .butn2{
    margin-top:5px;
    margin-bottom: 5px;
    width:220px;
    height:39px;
    border-radius:5px;
    background-color: #525252;
    color:#FFFFFF;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
align-items: center;
text-align: center;
}
.container1{
    width:378px;
    height:134px;
    margin-left:300px;
    position: relative;
    bottom:88px;
    left: 10px;
}
.container1 .prt1{
    width: 378px;
    height: 40px;
    background-color: #3FA2F7;
    border: 1.75px solid;
    border-radius: 5px;
    border-color: black;
    color:white;
}
.container1 .prt2{
    width: 378px;
    height: 94px;
    background-color: white;
    border: 1.75px solid;
    border-radius: 5px;
    border-color: black;
}
@media (max-width:950px){
    .bttn{
        position:relative;
        right:400px;     
    }
    .container1{
        position:relative;
        top:1px;
        margin-left:289px ;
    }
    p{
        width:auto;
        font-size: larger;
    }
    .subimg{
        display: inline-block;
    }
}