
body{
    
    margin: 0;
    padding: 0;
}
h1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
}
h1{
    margin-left:400px;
    margin-top: 40px;
}
h2{
    margin-left: 400px;
}
h2{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
}

.stuff{
    margin-left: 400px;
}
p{
    margin-left: 400px;
    margin-right: 300px;
}
.heading3{
    margin-left: 400px;

}
.heading3{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
}
.Gbin{
    margin-left: 400px;
}
.primary{
    position: relative;
    left: 750px;
}
.primary .btn1{
    display: block;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
align-items: center;
text-align: center;
background-color: #525252 ;
color:white;
}
.primary .btn1{
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom:1.5px;
    padding-right: 2px;
    padding-left: 2px;

}
.primary .btn2{
    display: block;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
align-items: center;
text-align: center;
background-color: #525252 ;
color:white;
}
.primary .btn2{
    margin-top:2px;
    padding-top: 2px;
    padding-bottom:1.5px;
    padding-right: 2px;
    padding-left: 2px;

}