.navbar .container .navbar-brand {
    color: #373535;
    font-size: 40px;
    margin: 8px 0;

}


p {
    padding-top: 10rem;
    margin-top: 12rem;
    padding-left: 40%;
    font-size: larger;
  
}